body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #E1E1E1;
}

.site{
    padding: 70px 20px 20px;
}

.containerPlano-1 {
    background-color: #fff;
    height: 500px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.Cont1Titulo{
    font-size: 30px;
    color: #CB5555;
    font-weight: bolder;
}

.Cont1textos{
    padding: 0px 50px;
}

.cont1item{
    padding: 15px 0px;
    font-size: 20px;
}

.negrito {
    color: #CB5555;
    font-weight: bolder; 
}

.contPlanosTitulo{
    text-align: right;
}

.subtopico{
    font-size: 12px;
    font-style: italic;
}

.planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    margin: 20px 0px;
    padding: 50px 0px;
}

.cardPlanos{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.planoC {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.botao button {
    background-color: #CB5555;
    border: 1px solid #CB5555;
    border-radius: 50px;
    color: #fff;

    padding: 20px 40px;
    margin: 20px 50px;
    text-align: center;
    cursor: pointer;
    width: 300px;

    font-size: 20px;
    font-weight: bolder;
}

.botao:hover button {
    background-color: #c22b2b;
    border: 1px solid #c22b2b;
    transition: 0.3s;
}

.planoLista {
    padding: 20px 0px;
}

.listaTopico {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaItem{
    text-align: left;
}

.select-botao    button {
    background-color: #CB5555;
    color: #fff;
    border: none;
    padding: 15px 50px;
    margin: 10px;
    cursor: pointer;

    border-radius: 50px; 
    font-weight: bolder;
}

#l{
   color: #CB5555;
   font-weight: bolder; 
}

